<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new person</title>
</head>
<body>
<form th:method="POST" th:action="@{/people}" th:object="${person}">
    <label for="name">First Name</label>
    <input type="text" th:field="*{firstName}" id="name">
    <br>
    <label for="surname">Last Name</label>
    <input th:field="*{secondName}" type="text" id="surname">
    <br>
    <input type="submit" value="ADD">
</form>

</body>
</html>